.container-fluid1{
    background-color: #5e068a;
    color: white;
    height: 44px;
    text-align: center;
}

.nav-item a{
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color:#2d3e50 !important;
    
}
.nav-item a:hover{
    color: #5e068a !important;

}
.carousel-item img{
    height: 500px;
}
 .kp{
   padding-bottom: 190px;
   
}
.carousel-caption h1{
    /* float: left; */
    text-align: start;
    margin-top: 0px;
    padding-bottom: 20px;
font-weight: 700; 
color: #fff;
font-size: 50px;
line-height: 56px;
/* line-height: 60px;


font-weight: 600; */
}
.carousel-caption .pp{
    padding-right:290px;
}

.carousel-caption .btn-cr{
    position: absolute;
    left: 0;
    top:260px;
    padding: 20px 60px;
/* margin-top: 80px; */
border-radius: 50px;
font-weight: 700;
font-size: 16px;
background-color: #5e068a;
color: white;
text-decoration: none;
}
.btn-cr:hover{
    background-color: #9e6ab9;
}
.carousel-caption .vr{
    position: absolute;
    left: 0;
    top:300px;
    padding: 20px 60px;
/* margin-top: 80px; */
border-radius: 50px;
font-weight: 700;
font-size: 16px;
background-color: #5e068a;
color: white;
text-decoration: none;
}
.vr:hover{
    background-color: #9e6ab9;
}
.container h3{
    color: #5e068a;
    font-weight: 580;
    font-size: 32px;
}
.container span{
    color:#5e068a99;
}

.col-6 .crsimg{
width: 550px;
height: 450;
}
.container p{
    line-height: 32px;
    font-size: 16px;
}
 .btns{
    width: 180px;
    height: 50px;
    color: #5e068a;
    background-color: white;
    
    font-weight: 400;
    margin-top: 21px;
    border-radius: 50px;
    border: 2px solid #5e068a;
}
.btns:hover{
    background-color: white;
    color: #5e068a;
    border: 2px solid #5e068a;
}

.container .card a{
background-color: #5e068a;
}
.card-body .card-title{
    
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: 580;
    color: #5e068a;
    margin-top: 20px;
}


.container h2{
        color: #5e068a;
        font-size: 32px;
        font-weight: 700;
    
}

.container .row h3{
    font-size: 25px;
    line-height: 32px;
    /* margin-bottom: 30px; */
    font-weight: 580;
    color: #5e068a;
    margin-top: 40px;;
}
.cap{
    margin-top: 72px;
}
.container .row .para{
  
    color: #5e068a;
    font-size: 20px;
    font-weight: 580;
}
.ab,.bc{
    background-color: #f5f5f5;
    width: 100%;
}

.container .row .para2{
    line-height: 1.8;
}
/* .course .sl:hover{
    background-color: white;
} */


.btns:hover{
    background-color: #5e068a;
    color: white;
    border: 2px solid #5e068a;
}

/* .crs{
    padding: 16px 27px;
    font-weight: 600;
    margin-top: 21px;
    border-radius: 50px;
    background-color:white ;
    border: 2px solid #5e068a;
    color: #5e068a;
} */